name: Portfolio Deployment

on:
  push:
    branches:
      - main  # agar default branch master hai, to yahan master likhna

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  # agar bucket ap-south-1 (Mumbai) me hai to yahan change kar dena

      - name: Deploy static site to S3 bucket
        run: |
          aws s3 sync . s3://tws-github-bucket --delete --acl public-read --exclude ".git/*" --exclude ".github/*"
